<div class="photos-section">
    <div class="photos-list">
        @if (AlbumModel != null)
        {
            foreach (var photo in AlbumModel.Photos.OrderBy(p => p.DateUpload))
            {
                <div class="photo-item">
                    <img src="@photo.Url" alt="Foto de @photo.UserName" class="photo-image" />
                    <div class="photo-footer">
                        <span>@photo.UserName</span>
                        <span>@photo.Description</span>
                        <p>@photo.DateUpload</p>
                    </div>
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public AlbumResponseModel? AlbumModel { get; set; }
}